PORT=5001

# PostgreSQL Database Configuration
# DATABASE_URL=postgres://postgres:password@127.0.0.1:5432/arbitrage_db
DB_HOST=127.0.0.1
DB_PORT=5432
DB_USER=postgres
DB_PASSWORD=
DB_NAME=arbitrage_db
DB_TEST_NAME=arbitrage_db_test
DB_SSL=false
